@model Assignment.Models.Sanpham
@{
    Layout = "_Layout";
}
<div class="wrap">
    <ul class="breadcrumb breadcrumb__t"><a asp-action="Index">Home</a> /@Model.TenSp</ul>
    <div class="cont span_2_of_3">
        <div class="grid images_3_of_2">
            <ul id="etalage">
                <li>
                    <a href="optionallink.html">
                        <img class="etalage_thumb_image" src="@Model.Hinh" class="img-responsive" />
                        @*<img class="etalage_source_image" src="images/s1.jpg" class="img-responsive" title="" />*@
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="desc1 span_3_of_2">
            <h3 class="m_3">@Model.TenSp</h3>
            <p class="m_5">
                @Model.Gia.ToString("n0").Replace(',', '.') VNĐ
            <div class="btn_form">
                <form>
                    <input asp-action="Buy" asp-route-id="@Model.MaSp" type="submit" value="Buy">
                </form>
            </div>
            <span class="m_link"><a href="#">login to save in wishlist</a> </span>
    </div>
    <div class="clear"></div>
    <div class="clients">
        <h3 class="m_3">10 Other Products in the same category</h3>
        <ul id="flexiselDemo3">
            @{
                List<Sanpham> sp = ViewBag.Other;
                for (int i = 0; i < 5; i++)
                {
                    <li><a asp-action="Details" asp-route-id="@sp[i].MaSp"><img src="@sp[i].Hinh" /></a><a asp-action="Details" asp-route-id="@sp[i].MaSp">@sp[i].TenSp</a><p>@sp[i].Gia.ToString("n0").Replace(',', '.')</p></li>
                }
            }
            @*<li><img src="images/s5.jpg" /><a href="#">Category</a><p>Rs 600</p></li>
                <li><img src="images/s6.jpg" /><a href="#">Category</a><p>Rs 850</p></li>
                <li><img src="images/s7.jpg" /><a href="#">Category</a><p>Rs 900</p></li>
                <li><img src="images/s8.jpg" /><a href="#">Category</a><p>Rs 550</p></li>
                <li><img src="images/s9.jpg" /><a href="#">Category</a><p>Rs 750</p></li>*@
        </ul>
        <script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel();
			$("#flexiselDemo2").flexisel({
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: {
		    		portrait: {
		    			changePoint:480,
		    			visibleItems: 1
		    		},
		    		landscape: {
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: {
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });

			$("#flexiselDemo3").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: false,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: {
		    		portrait: {
		    			changePoint:480,
		    			visibleItems: 1
		    		},
		    		landscape: {
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: {
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });

		});
        </script>
        <script type="text/javascript" src="~/js/jquery.flexisel.js"></script>
    </div>
